# webstorm config folder
.idea

# node modules
node_modules

# webpack output folder
dist/
tools/mapedit/app/*
tools/website/app/*

# .env file
.env

# don't store sessions files
vault/sessions/*.json
