
@font-face {
  font-family: 'KleponScone';
  src: url('KleponScone.eot?#iefix') format('embedded-opentype'),  url('KleponScone.woff') format('woff'), url('KleponScone.ttf')  format('truetype'), url('KleponScone.svg#KleponScone') format('svg');
  font-weight: normal;
  font-style: normal;
}
