
@font-face {
  font-family: 'OldNewspaperTypes';
  src: url('OldNewspaperTypes.eot?#iefix') format('embedded-opentype'),  url('OldNewspaperTypes.woff') format('woff'), url('OldNewspaperTypes.ttf')  format('truetype'), url('OldNewspaperTypes.svg#OldNewspaperTypes') format('svg');
  font-weight: normal;
  font-style: normal;
}
