

/*** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES ***/
/*** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES ***/
/*** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES *** FONT FAMILIES ***/

/*
regular height for inline blocks, containing text or other readable things (small icons, gauge aligned with texts)
*/
.ui {
    font-family: "Lucida Console", Monaco, monospace;
}

.typewriter {
    font-family: "KingthingsTrypewriter2", Courier, monospace;
}

.manuscript {
    font-family: "j.d.regular", Arial, sans-serif;
}


/*** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT ***/
/*** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT ***/
/*** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT *** RICH TEXT ***/

section.description p {
    margin-left: 2em;
    padding-right: 1.2em;
    text-align: justify;
    font-size: 0.9em;
    color: var(--color-text-in-ui);
    font-family: "OldNewspaperTypes", Courier, monospace;
}

section.description p::first-letter {
    font-weight: bold;
    font-size: 130%;
}


.ui.regular-height {
    height: 1.2em;
}

.ui.row {
    height: 1.2em;
    margin: 0;
    padding: 0;
}

.ui.axial {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.ui-window-title {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-text-in-ui);
    text-shadow: var(--color-text-shadow-in-ui) 0.08em 0.08em 0.2em;
}

div.ui-panel-window {
    position: absolute;
    background-color: var(--color-window-background);
    background-image: url(../uigfx/backgrounds/notebook-texture-2.jpg);
    border: solid 0.2em var(--color-window-border);
    border-radius: 0.5em;
}

div.ui-menu-window {
    position: absolute;
}

div.no-item-here {
    font-size: 3em;
    color: var(--color-text-no-item);
    margin-top: 15%;
    margin-left: 10%;
    font-weight: bolder;
    transform: rotate(-12deg);
}




/*** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES ***/
/*** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES ***/
/*** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES *** WINDOW SIZES ***/

div.ui-size-60-90 {
    width: 60%;
    height: 90%;
    top: 5%;
    left: 20%;
}

div.ui-size-50-90 {
    width: 50%;
    height: 90%;
    top: 5%;
    left: 25%;
}

div.ui-size-50-50 {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}

div.ui-size-50-75 {
    width: 50%;
    height: 75%;
    top: 12.5%;
    left: 25%;
}

div.ui-size-66-90 {
    width: 66.666%;
    height: 90%;
    top: 5%;
    left: 16.666%;
}
