/* *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS ***/
/* *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS ***/
/* *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS ***/
/* *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS *** *** COULEURS ***/

span.tokenized-string.prim {
    color: black;
}

span.tokenized-string.attn {
    color: #c00;
}

span.tokenized-string.red {
    color: red;
}

span.tokenized-string.blue {
    color: blue;
}

span.tokenized-string.purple {
    color: purple;
}

span.tokenized-string.yellow {
    color: yellow;
}

span.tokenized-string.green {
    color: green;
}

span.tokenized-string.white {
    color: white;
}

span.tokenized-string.black {
    color: black;
}

span.tokenized-string.gray {
    color: gray;
}

span.tokenized-string.orange {
    color: orange;
}

/* *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** */
/* *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** */
/* *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** */
/* *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** *** MISE EN FORME *** */

/*
SEMI TRANSPARENT
Pour rendre un texte plus discret
 */
span.tokenized-string.smooth {
    opacity: 0.5;
}

/*
EN GRAS
Mise en forme grasse pour rendre le texte plus visible
 */
span.tokenized-string.b {
    font-weight: bolder;
}

/*
ITALIQUE
Pour les citations
 */
span.tokenized-string.i {
    font-style: italic;
}

/*
BARRE
Texte barré pour les correction
 */
span.tokenized-string.s {
    text-decoration: line-through;
}

/*
SOULIGNE
Texte important
 */
span.tokenized-string.u {
    text-decoration: underline;
}

/*
LIST ITEM
Pour faire plusieur ligne à la suite
 */
span.tokenized-string.li {
    display: list-item;
    margin-left: 2em;
    line-height: 1.66em;
}
